.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: 'Roboto' sans-serif;
    hover: #404BBF;
    focus: #404BBF;
}

body {
    font-family: 'Roboto' sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

adress {
    font-style: normal
}

.logo{

    font-family: 'Raleway', 'Roboto' sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #2E2F42;
}
.logotype{
    
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;

}

.menu-item {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.contacts {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
}

.hero-page{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07; 
    letter-spacing: 0.02em;
    color: #FFF;
}

.menu-item:hover, 
.menu-item:focus {
    color: #404bbf;
}

.button {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    color: #FFF;
}

.benefits {
   font-family: Roboto;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.2; 
   letter-spacing: 0.02em;
   color: #2E2F42;
}

.benefits-description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
}

.team {   
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2E2F42;
}

.names {
    
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
} 

.job-title {
    
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio {
    
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.services{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.services-dercription{
    
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-footer-span {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.text-footer{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #F4F4FD;

}


<!--------BACKGROUND-------->
.page-header{ 
    background: #FFF;
}

.hero-section {background: #2E2F42;}

.button {
    background: #4D5AE5;
}

.benefits-main {
    background: #FFF;
}

.team-section {
    background: #F4F4FD;
}

.portfolio-section {
    background: #FFF;
}

.footer-section {
    background: #2E2F42;
}
